<a href="https://colab.research.google.com/github/harshdeep3/ML_Ops/blob/main/Loan_experiement_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Loading and preparing data

In [2]:
raw_train = pd.read_csv('train.csv')
raw_test = pd.read_csv('test.csv')

In [3]:
# view the data
raw_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
# view the data
raw_test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
357,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113,360.0,1.0,Urban
358,LP002975,Male,Yes,0,Graduate,No,4158,709,115,360.0,1.0,Urban
359,LP002980,Male,No,0,Graduate,No,3250,1993,126,360.0,NaN,Semiurban
360,LP002986,Male,Yes,0,Graduate,No,5000,2393,158,360.0,1.0,Rural
361,LP002989,Male,No,0,Graduate,Yes,9200,0,98,180.0,1.0,Rural

In [5]:
# highlights the unquie values for each feature
raw_train.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [6]:
# creating a copy to modify the raw data
train_df = raw_train.copy()
test_df = raw_test.copy()

In [7]:
train_df.info()
# This info above show there are 614 row and some feature contain missing
# information, shown using the Non-null count.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [8]:
test_df.info()
"""
This info above show there are 362 row and some feature contain missing
information, shown using the Non-null count.
because the test data does not contain the 13 column (loan status), it
can not be used fore evlauting but can be used for predictions.
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            362 non-null    object
 1   Gender             351 non-null    object
 2   Married            362 non-null    object
 3   Dependents         353 non-null    object
 4   Education          362 non-null    object
 5   Self_Employed      339 non-null    object
 6   ApplicantIncome    362 non-null    int64
 7   CoapplicantIncome  362 non-null    int64
 8   LoanAmount         362 non-null    int64
 9   Loan_Amount_Term   356 non-null    float64
 10  Credit_History     333 non-null    float64
 11  Property_Area      362 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 34.1+ KB

'\nThis info above show there are 362 row and some feature contain missing \ninformation, shown using the Non-null count.\nbecause the test data does not contain the 13 column (loan status), it \ncan not be used fore evlauting but can be used for predictions. \n'

In [9]:
train_y = train_df['Loan_Status'].copy()

In [10]:
train_df.drop(columns=['Loan_Status'], inplace=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [11]:
# dropping the unncessary columns
# Loan ID
train_df.drop(columns="Loan_ID", inplace=True)
test_df.drop(columns="Loan_ID", inplace=True)

In [12]:
train_df.columns, test_df.columns

(Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
        'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
        'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
       dtype='object'),
 Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
        'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
        'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
       dtype='object'))

In [13]:
# check for duplication
# pass the boolean list to print duplicates
train_df[train_df.duplicated()]

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]
Index: []

In [14]:
test_df[test_df.duplicated()]
# test contains a duplicate, as this does not affect the train, no need to drop
# the row but can be done.

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
192,Male,No,0,Graduate,Yes,5833,0,116,360.0,1.0,Urban

In [15]:
# dropping duplicates
test_df.drop_duplicates(inplace=True)
test_df[test_df.duplicated()]

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]
Index: []

In [16]:
# Missing values check
train_df.isna().sum()
# there are missing value so you can either drop or impute the missing values

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
dtype: int64

In [17]:
train_df.info(), train_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 52.9+ KB

(None,
 Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
        'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
        'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
       dtype='object'))

In [18]:
# for call missing values that
# numeric -> mean will be used to fill them
# categoric -> mode will be used to fill them

num_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
            'Loan_Amount_Term']

cat_cols = ['Gender', 'Married', 'Dependents', 'Education',
                    'Self_Employed','Credit_History', 'Property_Area']

In [19]:
cat_imputer = SimpleImputer(strategy="most_frequent")

cat_imputer.fit(train_df[cat_cols])

train_df[cat_cols] = cat_imputer.transform(train_df[cat_cols])
test_df[cat_cols] = cat_imputer.transform(test_df[cat_cols])
train_df, test_df

(     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
 0      Male      No          0      Graduate            No             5849
 1      Male     Yes          1      Graduate            No             4583
 2      Male     Yes          0      Graduate           Yes             3000
 3      Male     Yes          0  Not Graduate            No             2583
 4      Male      No          0      Graduate            No             6000
 ..      ...     ...        ...           ...           ...              ...
 609  Female      No          0      Graduate            No             2900
 610    Male     Yes         3+      Graduate            No             4106
 611    Male     Yes          1      Graduate            No             8072
 612    Male     Yes          2      Graduate            No             7583
 613  Female      No          0      Graduate           Yes             4583

      CoapplicantIncome  LoanAmount  Loan_Amount_Term Credit_History  \
 0                  0.0         NaN             360.0            1.0
 1               1508.0       128.0             360.0            1.0
 2                  0.0        66.0             360.0            1.0
 3               2358.0       120.0             360.0            1.0
 4                  0.0       141.0             360.0            1.0
 ..                 ...         ...               ...            ...
 609                0.0        71.0             360.0            1.0
 610                0.0        40.0             180.0            1.0
 611              240.0       253.0             360.0            1.0
 612                0.0       187.0             360.0            1.0
 613                0.0       133.0             360.0            0.0

     Property_Area
 0           Urban
 1           Rural
 2           Urban
 3           Urban
 4           Urban
 ..            ...
 609         Rural
 610         Rural
 611         Urban
 612         Urban
 613     Semiurban

 [614 rows x 11 columns],
     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
 0     Male     Yes          0      Graduate            No             5720
 1     Male     Yes          1      Graduate            No             3076
 2     Male     Yes          2      Graduate            No             5000
 3     Male     Yes          2      Graduate            No             2340
 4     Male      No          0  Not Graduate            No             3276
 ..     ...     ...        ...           ...           ...              ...
 357   Male     Yes         3+  Not Graduate           Yes             4009
 358   Male     Yes          0      Graduate            No             4158
 359   Male      No          0      Graduate            No             3250
 360   Male     Yes          0      Graduate            No             5000
 361   Male      No          0      Graduate           Yes             9200

      CoapplicantIncome  LoanAmount  Loan_Amount_Term Credit_History  \
 0                    0         110             360.0            1.0
 1                 1500         126             360.0            1.0
 2                 1800         208             360.0            1.0
 3                 2546         100             360.0            1.0
 4                    0          78             360.0            1.0
 ..                 ...         ...               ...            ...
 357               1777         113             360.0            1.0
 358                709         115             360.0            1.0
 359               1993         126             360.0            1.0
 360               2393         158             360.0            1.0
 361                  0          98             180.0            1.0

     Property_Area
 0           Urban
 1           Urban
 2           Urban
 3           Urban
 4           Urban
 ..            ...
 357         Urban
 358         Urban
 359     Semiurban
 360         Rural
 361         Rural

 [361 rows x 11 columns])

In [20]:
num_imputer = SimpleImputer(strategy="mean")
num_imputer.fit(train_df[num_cols])

train_df[num_cols] = num_imputer.transform(train_df[num_cols])
test_df[num_cols] = num_imputer.transform(test_df[num_cols])
train_df, test_df

(     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
 0      Male      No          0      Graduate            No           5849.0
 1      Male     Yes          1      Graduate            No           4583.0
 2      Male     Yes          0      Graduate           Yes           3000.0
 3      Male     Yes          0  Not Graduate            No           2583.0
 4      Male      No          0      Graduate            No           6000.0
 ..      ...     ...        ...           ...           ...              ...
 609  Female      No          0      Graduate            No           2900.0
 610    Male     Yes         3+      Graduate            No           4106.0
 611    Male     Yes          1      Graduate            No           8072.0
 612    Male     Yes          2      Graduate            No           7583.0
 613  Female      No          0      Graduate           Yes           4583.0

      CoapplicantIncome  LoanAmount  Loan_Amount_Term Credit_History  \
 0                  0.0  146.412162             360.0            1.0
 1               1508.0  128.000000             360.0            1.0
 2                  0.0   66.000000             360.0            1.0
 3               2358.0  120.000000             360.0            1.0
 4                  0.0  141.000000             360.0            1.0
 ..                 ...         ...               ...            ...
 609                0.0   71.000000             360.0            1.0
 610                0.0   40.000000             180.0            1.0
 611              240.0  253.000000             360.0            1.0
 612                0.0  187.000000             360.0            1.0
 613                0.0  133.000000             360.0            0.0

     Property_Area
 0           Urban
 1           Rural
 2           Urban
 3           Urban
 4           Urban
 ..            ...
 609         Rural
 610         Rural
 611         Urban
 612         Urban
 613     Semiurban

 [614 rows x 11 columns],
     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
 0     Male     Yes          0      Graduate            No           5720.0
 1     Male     Yes          1      Graduate            No           3076.0
 2     Male     Yes          2      Graduate            No           5000.0
 3     Male     Yes          2      Graduate            No           2340.0
 4     Male      No          0  Not Graduate            No           3276.0
 ..     ...     ...        ...           ...           ...              ...
 357   Male     Yes         3+  Not Graduate           Yes           4009.0
 358   Male     Yes          0      Graduate            No           4158.0
 359   Male      No          0      Graduate            No           3250.0
 360   Male     Yes          0      Graduate            No           5000.0
 361   Male      No          0      Graduate           Yes           9200.0

      CoapplicantIncome  LoanAmount  Loan_Amount_Term Credit_History  \
 0                  0.0       110.0             360.0            1.0
 1               1500.0       126.0             360.0            1.0
 2               1800.0       208.0             360.0            1.0
 3               2546.0       100.0             360.0            1.0
 4                  0.0        78.0             360.0            1.0
 ..                 ...         ...               ...            ...
 357             1777.0       113.0             360.0            1.0
 358              709.0       115.0             360.0            1.0
 359             1993.0       126.0             360.0            1.0
 360             2393.0       158.0             360.0            1.0
 361                0.0        98.0             180.0            1.0

     Property_Area
 0           Urban
 1           Urban
 2           Urban
 3           Urban
 4           Urban
 ..            ...
 357         Urban
 358         Urban
 359     Semiurban
 360         Rural
 361         Rural

 [361 rows x 11 columns])

In [21]:
# Missing values check
train_df.isna().sum()
# there are no missing value after the imputation

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [22]:
train_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583.0,1508.0,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban

In [23]:
# preprocessing based on domain knowledge
# combine the applicant imcome and coapplicant income

train_df['ApplicantIncome'] = train_df['ApplicantIncome'] + train_df['CoapplicantIncome']
test_df['ApplicantIncome'] = test_df['ApplicantIncome'] + test_df['CoapplicantIncome']

# dropping the CoapplicantIncome columns
train_df.drop(columns='CoapplicantIncome', inplace=True)
test_df.drop(columns='CoapplicantIncome', inplace=True)

train_df.columns, test_df.columns

(Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
        'ApplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
        'Property_Area'],
       dtype='object'),
 Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
        'ApplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
        'Property_Area'],
       dtype='object'))

In [24]:
train_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849.0,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,6091.0,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000.0,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,4941.0,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000.0,141.000000,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900.0,71.000000,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106.0,40.000000,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8312.0,253.000000,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583.0,187.000000,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583.0,133.000000,360.0,0.0,Semiurban

In [25]:
train_df.nunique()

Gender                2
Married               2
Dependents            4
Education             2
Self_Employed         2
ApplicantIncome     554
LoanAmount          204
Loan_Amount_Term     11
Credit_History        2
Property_Area         3
dtype: int64

In [26]:
# label encoder
# label encoder works column wise

for col in cat_cols:
    le = LabelEncoder()
    train_df[col] = le.fit_transform(train_df[col])
    test_df[col] = le.fit_transform(test_df[col])

train_df.head(), test_df.head()

(   Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
 0       1        0           0          0              0           5849.0
 1       1        1           1          0              0           6091.0
 2       1        1           0          0              1           3000.0
 3       1        1           0          1              0           4941.0
 4       1        0           0          0              0           6000.0

    LoanAmount  Loan_Amount_Term  Credit_History  Property_Area
 0  146.412162             360.0               1              2
 1  128.000000             360.0               1              0
 2   66.000000             360.0               1              2
 3  120.000000             360.0               1              2
 4  141.000000             360.0               1              2  ,
    Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
 0       1        1           0          0              0           5720.0
 1       1        1           1          0              0           4576.0
 2       1        1           2          0              0           6800.0
 3       1        1           2          0              0           4886.0
 4       1        0           0          1              0           3276.0

    LoanAmount  Loan_Amount_Term  Credit_History  Property_Area
 0       110.0             360.0               1              2
 1       126.0             360.0               1              2
 2       208.0             360.0               1              2
 3       100.0             360.0               1              2
 4        78.0             360.0               1              2  )

In [27]:
num_cols

['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [28]:
num_cols.remove('CoapplicantIncome') # removed 'CoapplicantIncome'from df
num_cols

['ApplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [31]:
# log transformation
train_df[num_cols] = np.log(train_df[num_cols])
test_df[num_cols] = np.log(test_df[num_cols])

In [32]:
train_df, test_df

(     Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
 0         1        0           0          0              0         2.160333
 1         1        1           1          0              0         2.164996
 2         1        1           0          0              1         2.080237
 3         1        1           0          1              0         2.140692
 4         1        0           0          0              0         2.163267
 ..      ...      ...         ...        ...            ...              ...
 609       0        0           0          0              0         2.075994
 610       1        1           3          0              0         2.118687
 611       1        1           1          0              0         2.200049
 612       1        1           2          0              0         2.189827
 613       0        0           0          0              1         2.131810

      LoanAmount  Loan_Amount_Term  Credit_History  Property_Area
 0      1.606719          1.772594               1              2
 1      1.579397          1.772594               1              0
 2      1.432618          1.772594               1              2
 3      1.566007          1.772594               1              2
 4      1.599137          1.772594               1              2
 ..          ...               ...             ...            ...
 609    1.449898          1.772594               1              0
 610    1.305323          1.647303               1              0
 611    1.710801          1.772594               1              2
 612    1.654623          1.772594               1              2
 613    1.587264          1.772594               0              1

 [614 rows x 10 columns],
      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
 0         1        1           0          0              0         8.651724
 1         1        1           1          0              0         8.428581
 2         1        1           2          0              0         8.824678
 3         1        1           2          0              0         8.494129
 4         1        0           0          1              0         8.094378
 ..      ...      ...         ...        ...            ...              ...
 357       1        1           3          1              1         8.663196
 358       1        1           0          0              0         8.490233
 359       1        0           0          0              0         8.564649
 360       1        1           0          0              0         8.908289
 361       1        0           0          0              1         9.126959

      LoanAmount  Loan_Amount_Term  Credit_History  Property_Area
 0      4.700480          5.886104               1              2
 1      4.836282          5.886104               1              2
 2      5.337538          5.886104               1              2
 3      4.605170          5.886104               1              2
 4      4.356709          5.886104               1              2
 ..          ...               ...             ...            ...
 357    4.727388          5.886104               1              2
 358    4.744932          5.886104               1              2
 359    4.836282          5.886104               1              1
 360    5.062595          5.886104               1              0
 361    4.584967          5.192957               1              0

 [361 rows x 10 columns])

In [33]:
# applying a minmax scaler to the whole data set
minmax = MinMaxScaler()

train_df = minmax.fit_transform(train_df)
test_df = minmax.fit_transform(test_df)

# Building a model

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_df, train_y,
                                                    test_size=0.2, random_state=0)

In [39]:
from sklearn.linear_model import LogisticRegression

# train a model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

LogisticRegression()

In [40]:
y_pred_test = log_reg.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score

# evalute
acc = accuracy_score(y_test,y_pred_test)

print(f"Accuracy is {acc}")

Accuracy is 0.8292682926829268